//common
$color1: #2165D4;
$color2:white;
$color3:#528FE8;
$color4:#4FB14C;
$color5:#F70101;
$color6:#FEB500;
$color7:#12E6F2;
$color8:#cec9c9;
$background1:#0543BD;
$background2:#53A0FD;
$background3:#F2F2F2;
$background4:#1455c9;
$background5:#9B9B9B;
$background6:#2665A8;
$background7:#161C4C;
$background7:#081D48;
$fontSizeTitle:#333;
$fontSizeMinTitle:#666;
$fontSizecontent:#999;
$borderColor1:#1844FF;
$borderColor2:#5384D3;
$placeHolderColor:#666;
// size
$fontSize:12px;
$fontSize1:14px;
$fontSize2:16px;
$fontSize3:18px;
$fontSize4:25px;
$borderRadius:2px;
// keyword
$keyword:225px;
// fontfamily
$fontFamily:"Microsoft YaHei",
Helvetica Neue,
Helvetica,
PingFang SC,
"微软雅黑",
Tahoma,
Arial,
sans-serif;